html {
  user-select: none;
  cursor: default;
}
button, input {
  outline: none !important;
}

body {
  background: url('img/green-neuron-background.jpg');
  background-attachment: fixed;
  background-size: cover;
  min-width: 700px;
}

.cybersluglogo {
  background-image: url('img/cyberslug.png');
}


canvas {
}

#gamesurface {
  background: #444;
  background-image: url('img/black-foam-texture.jpg');
  background-repeat: repeat;

  border: 2px solid #666;
  border-radius: 10px;
  box-shadow: 
      0 0 5px 1px #000 inset, 
      0 5px 15px #000 inset, 
      0 50px 50px rgba(0,0,0,.5) inset;
  margin: 30px;
}

.oscilloscopepanel {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 10px;
  margin-bottom: 10px;

  background-image: url('img/brushed-aluminum.jpg');
  background-repeat: repeat;
  
  border: 4px solid #222;
  border-radius: 10px;
  box-shadow: 
      0 0 30px #000, 
      0 10px 100px 10px rgba(0,0,0,.8) inset,
      0px -1px 3px #aaa, 
      0px -1px 3px #aaa inset;  
}

#canvasholder {
  text-align: center;
  border: 4px solid #222;
  box-shadow: 
      0 0 30px #000, 
      0 10px 100px 10px rgba(0,0,0,.8) inset,
      0px -1px 3px #aaa, 
      0px -1px 3px #aaa inset;
}

#gamecanvas {
  background: black;
  margin: auto;
  
  border-radius: 10px;
  border: 2px solid #222;
  box-sizing: border-box;
  box-shadow: 
    10px 20px 20px rgba(200,200,200,.4), 
    0 0 20px 10px rgba(0,0,0,.6), 
    0 0px 60px 5px #000;
}

#gamecanvas.mouseoverhero {
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
#gamecanvas.mousegrabbinghero {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}


#canvasnameplate {
  margin: auto;
  margin-top: 20px;
  width: 500px;
  padding: 0.5em 2em;
  position: relative;
  cursor: pointer;
  text-shadow: 1px 1px 2px #000;  
  user-select: none;

  background-image: url('img/black-leather-texture.jpg');
  background-size: cover;

  border-radius: 2px;
  color: #aaa;
  font-variant: small-caps;
  font-family: monospace;
  font-size: small;
  letter-spacing: 2px;
  line-height: 1em;

  box-shadow: 
      1px 1px 2px rgba(0,0,0,.8), 
      -1px -1px 3px rgba(200,200,200,.4);  
}

#canvasnameplate::before {
  content: '';
  height: 100%;
  width: 28px;
  position: absolute;
  top: 0;
  left: 10px;
  
  background-image: url('img/screw-lf-dark.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

#canvasnameplate::after {
  content: '';
  height: 100%;
  width: 28px;
  position: absolute;
  top: 0;
  right: 10px;

  background-image: url('img/screw-rt-dark.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}


.instrumentrow {
  text-align: center;
}


.skeuo.btn {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  box-sizing: border-box;
  border: none;
  height: 40px;
  width: 40px;
  position: relative;
}
.skeuo.btn:active,
.skeuo.btn.active {
  top: 2px;
  box-shadow:
      0px 0px 2px #111, 
      0px 0px 2px 2px rgba(0,0,0,.3);  
}

.skeuo.btn {
  background-image: url('img/skeuo-btn-blue.png');
  box-shadow:
      2px 5px 8px #111, 
      0px 0px 2px 2px rgba(0,0,0,.3);  
}
.skeuo.skeuo-main {
  background-image: url('img/skeuo-btn-orange.png');
}

.skeuo.btn::after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.6;
}

#btn-play::after {
  background-image: url('img/glyph-play.png');
}
#btn-play.active::after {
  background-image: url('img/glyph-play-active.png');
}

#btn-stop::after {
  background-image: url('img/glyph-stop.png');
}
#btn-stop.active::after {
  background-image: url('img/glyph-stop-active.png');
}

#btn-ff::after {
  background-image: url('img/glyph-ff.png');
}
#btn-ff.active::after {
  background-image: url('img/glyph-ff-active.png');
}

#btn-step::after {
  background-image: url('img/glyph-step.png');
}
#btn-step.active::after {
  background-image: url('img/glyph-step-active.png');
}

#buttonrow {
  white-space: nowrap;
  padding: 20px;
  padding-top: 0;
}
#rca-jacks {
  content: '';
  height: 90px;
  width: 120px;
  background-image: url(img/rca-jacks.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
  
  float: right;
  position: relative;
  top: -18px;
  right: -34px;
  
  display: none;
}

#dialrow {
  clear: both;
  padding: 0 20px;
}


.dial {
  display: inline-block;
  width: 70px;
  height: 70px;
  position: relative;
  margin-bottom: 20px;
  
  cursor: pointer;
}
.dial .base {
  background-image: url('img/control-dial-base.png');
  background-position: center center;
  background-size: 80%;
  background-repeat: no-repeat;
  
  display: inline-block;
  width: 100%;
  height: 100%;
  
  position: absolute;
  top: 0;
  left: 0;
}
.dial .knob {
  background-image: url('img/control-dial-knob.png');
  background-position: center center;
  background-size: 80%;
  background-repeat: no-repeat;

  display: inline-block;
  width: 100%;
  height: 100%;
  
  position: absolute;
  top: 0;
  left: 0;
  
  transition: 0.2s linear all;
}

.dial .dialtick {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 0px;
  left: 0;
  top: 0;
  
  font-family: monospace;
  font-weight: bold;
  font-size: 8px;
}
.dial .dialtick .tickmark {
  position: absolute;
  text-align: center;
  left: 0;
  top: 8px;
  width: 100%;
  font-size: 6px;
  font-weight: bold;
}


label {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: -22px;
  left: 0;
  font-family: monospace;
  font-weight: normal;
  background-color: #06a;
  text-shadow: -2px -2px 2px #222, 1px 1px 1px #200;
  color: #ccc;
  box-shadow: 
      3px -2px 8px #048 inset, 
      4px 4px 2px #68c inset; 
  font-variant: small-caps;
  xxx-letter-spacing: 1px;
  line-height: 14px;
  font-size: 9px;
  padding-top: 2px; 
  border-bottom: 2px solid #000;
  border-right: 2px solid #000;
}


#gaugesrow {
  padding: 0 20px;
}

.gauge {
  display: inline-block;
  width: 100px;
  border-radius: 10px;
  border: 1px solid #333;
  background-image: url('img/copper-dark.jpg');
  background-size: cover;  
  box-shadow: 
      1px 1px 2px rgba(0,0,0,.5), 
      0 0 10px 2px rgba(255,255,200,.2) inset, 
      -5px -10px 15px rgba(200,200,100,.2) inset;
  text-align: center;
  margin: 5px;
}

.gauge label {
  width: 80%;
  margin: auto;
  position: static;
  margin-bottom: 5px;
}

.gauge .readout {
  position: relative;
  border: 1px solid rgba(50,25,25,1);
  margin: 5px 5px 0;
  border-radius: 5px;
  height: 20px;
  background: #ccc;
  overflow: hidden;
  box-shadow: 
      1px 2px rgba(100,100,100,.2), 
      1px 4px 2px 2px rgba(100,100,100,.5) inset, 
      -1px 2px 2px 2px rgba(250,250,250,1) inset;
  transition: background-color .5s linear;
}

.gaugetick {
  position: absolute;
  font-family: monospace;
  font-weight: bold;
  font-size: 8px;
  bottom: 0;
  height: 20px;
  text-align: center;
  width: 2em;
}

.gaugetick .tickmark {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.gauge .readout .readout-horiz-adjust {
  position: absolute;
  height: 100%;
  width: 80%;
}

.gauge .needle {
  height: 20px;
  width: 2px;
  position: absolute;
  background: #f00;
  box-shadow: 
    2px 2px 2px rgba(0,0,0,.8),
    0px 2px 2px rgba(0,0,0,.2) inset;
  transition: 0.2s linear all;
}

@keyframes flash-red-background {
  from {background-color: #c66;}
  to {background-color: #f88;}
}
.gauge.gaugedanger .readout {
  animation: flash-red-background .25s alternate infinite;
  box-shadow: 0 0 5px 2px #844; 
}
.gauge.gaugewarning .readout {
  background-color: #cc0;
}
.gauge.gaugegreat .readout {
  background-color: #0a0;
}

.lampsrow {
  margin: 20px 30px;
  text-align: center;
}



.lamp {
  display: inline-block;
  height: 60px;
  width: 50px;
  background-image: url('img/red-light-off.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;
  position: relative;
  text-align: center;
}

.lamp.lampon {
  background-image: url('img/red-light-on.png');
}